{% extends 'base.html' %}

{% block title %}CRIAR COMPETIÇÃO{% endblock title %}
{% block content %}
    <center><h3>CRIAR COMPETIÇÃO</h3></center>
    <p>Criar uma competição [nome, local e data/hora da disputa], já informando os atletas participantes [nome, idade, altura e peso]</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Modalidade</h2>
                <div class="mb-2 row">
                    <div class="col-2">Nome:</div>
                    <div class="col-10">
                        <select class="form-select" name="name_competition" id="name_competition">
                            <option value="100m_rasos">100m rasos</option>
                            <option value="lancamento_de_dardo">Lançamento de Dardo</option>
                        </select>
                    </div>
                </div>
                <div class="mb-2 row">
                    <div class="col-2">Local:</div>
                    <div class="col-10"><input class="form-control" type="text" id="place_competition" name="place_competition"></div>
                </div>
                <div class="mb-2 row">
                    <div class="col-2">Data/Hora:</div>
                    <div class="col-10"><input class="form-control" type="datetime-local" id="created_at" name="created_at"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Atleta</h2>
                <div class="mb-2 row">
                    <div class="col-2">Nome:</div>
                    <div class="col-10"><input class="form-control" type="text" id="name_athlete" name="name_athlete"></div>
                </div>
                <div class="mb-2 row">
                    <div class="col-2">Idade:</div>
                    <div class="col-10"><input class="form-control" type="number" id="age_athlete" name="age_athlete"></div>
                </div>
                <div class="mb-2 row">
                    <div class="col-2">Altura:</div>
                    <div class="col-10"><input class="form-control" type="number" id="height_athlete" name="height_athlete"></div>
                </div>
                <div class="mb-2 row">
                    <div class="col-2">Peso:</div>
                    <div class="col-10"><input class="form-control" type="number" id="weight_athlete" name="weight_athlete"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container list-div">
        <ul class="list-athlete">
            <li class="item-athlete">
                <div class="row">
                    <div class="col">NOME</div>
                    <div class="col">MODALIDADE</div>
                    <div class="col">LOCAL</div>
                    <div class="col">AÇÃO</div>
                </div>
            </li>
            {% for athlete in athletes %}
            <li class="item-athlete">
                <div class="row">
                    <div class="col">{{athlete.name_athlete}}</div>
                    <div class="col"><a href="/ranking/{{athlete.name_competition}}">{{athlete.name_competition}}</a></div>
                    <div class="col">{{athlete.place_competition}}</div>
                    <div class="col">
                        <span><i class="fa-solid fa-trash"></i></span>
                        <span><i class="fa-solid fa-pen-to-square"></i></span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 add-athlete">
                <i class="fa-solid fa-plus"></i> Adicionar Atleta
            </div>
        </div>
        <div class="row">
            <div class="col-12 add-competition">
                <i class="fa-solid fa-plus"></i> Criar Competição
            </div>
        </div>
    </div>
{% endblock content %}