{% extends 'global/pages/base.html' %}

{% block title %}CRIAR COMPETIÇÃO{% endblock title %}

{% block content %}
<header>
    <center><h1>CRIAR COMPETIÇÃO</h1></center>
    <p>Criar uma competição [nome, local e data/hora da disputa], já informando os atletas participantes [nome, idade, altura e peso]</p>
    <div class="container">
        {% if if_competition_ok %}
        <div class="row">
            <div class="col-12 status-competition-on">Cadastro aberto para 100m rasos.</div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 status-competition-off">Cadastro finalizado para Lançamento de Dardo.</div>
        </div>
        {% endif %}
    </div>
</header>
<br>
<form method="POST">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="row">
        <div class="col-md-6">
            <h2>Atleta</h2>
            <div class="mb-2 row">
                <div class="col-2">Nome:</div>
                <div class="col-10"><input class="form-control" type="text" id="name_athlete" name="name_athlete" required></div>
            </div>
            <div class="mb-2 row">
                <div class="col-2">Idade:</div>
                <div class="col-10"><input class="form-control" type="number" id="age_athlete" name="age_athlete" required></div>
            </div>
            <div class="mb-2 row">
                <div class="col-2">Altura:</div>
                <div class="col-10"><input class="form-control" type="number" id="height_athlete" name="height_athlete" required></div>
            </div>
            <div class="mb-2 row">
                <div class="col-2">Peso:</div>
                <div class="col-10"><input class="form-control" type="number" id="weight_athlete" name="weight_athlete" required></div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Modalidade</h2>
            <div class="mb-2 row">
                <div class="col-2">Nome:</div>
                <div class="col-10">
                    <select class="form-select" name="name_competition" id="name_competition" required>
                        <option value="100m_rasos">100m rasos</option>
                        <option value="lancamento_de_dardo">Lançamento de Dardo</option>
                    </select>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-2">Local:</div>
                <div class="col-10">
                    <select class="form-select" name="place_competition" id="place_competition" required>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-2">Data/Hora:</div>
                <div class="col-10"><input class="form-control" type="datetime-local" id="created_at" name="created_at" value="2022-07-30T10:30" disabled></div>
            </div>
        </div>
    </div>
    <br>
    <div class="container list-div">
        <ul class="list-athlete">
            <li class="item-athlete">
                <div class="row">
                    <div class="col">NOME</div>
                    <div class="col">MODALIDADE</div>
                    <div class="col">LOCAL</div>
                    <div class="col">DATA</div>
                    {% comment %} <div class="col">AÇÃO</div> {% endcomment %}
                </div>
            </li>
            {% for i in athletes %}
            <li class="item-athlete">
                <div class="row">
                    <div class="col">{{i.name_athlete}}</div>
                    <div class="col">{{i.name_competition}}</div>
                    <div class="col">{{i.place_competition}}</div>
                    <div class="col">----</div>
                </div>
            </li>
            {% endfor %}
            <span>Objetos recuperados do views.py: </span>{{ athletes }}
        </ul>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <input type="submit" class="col-12 add-athlete" value="Adicionar Atleta">
        </div>
    </div>
</form>
<br>
<br>
{% endblock content %}