{% extends 'global/pages/base.html' %}

{% block title %}CRIAR COMPETIÇÃO{% endblock title %}

{% block content %}
<center><h1>CRIAR COMPETIÇÃO</h1></center>
{% include 'global/partials/messages.html' %}
<p>Criar uma competição [nome, local e data/hora da disputa], já informando os atletas participantes [nome, idade, altura e peso]</p>
{% if if_competition_ok is not True %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12 status-competition-off">Cadastro finalizado.</div>
        </div>
    </div>
</header>
{% else %}
<br>
<form method="POST" action="{% url 'create_competition:created' %}">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="row">
        {% for field in form %}
        <div class="col-md-6">
            <div class="mb-2 row">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text }}</p>
                {% endif %}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <div class="container list-div">
        <ul class="list-athlete">
            <li class="item-athlete">
                <div class="row">
                    <div class="col">NOME</div>
                    <div class="col">MODALIDADE</div>
                    <div class="col">LOCAL</div>
                    <div class="col">DATA</div>
                    {% comment %} <div class="col">AÇÃO</div> {% endcomment %}
                </div>
            </li>
            {% for i in athletes %}
            <li class="item-athlete">
                <div class="row">
                    <div class="col">{{i.name_athlete}}</div>
                    <div class="col">{{i.name_competition}}</div>
                    <div class="col">{{i.place_competition}}</div>
                    <div class="col">----</div>
                </div>
            </li>
            {% endfor %}
            <span>Objetos recuperados do views.py: </span>{{ athletes }}
        </ul>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <input type="submit" class="col-12 add-athlete" value="Adicionar Atleta">
        </div>
    </div>
    {{ field.errors }}
</form>
{% endif %}
<br>
<br>
{% endblock content %}