{% load static %}<div class="offset-1 col-10 list-div">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <div class="row">
                <img class="img-ranking" src="{% static 'ranking/imgs/img_100m_rasos.png' %}" alt="">
            </div>
            <div class="row">
                <a href="100m rasos">100m rasos</a>
            </div>
        </div>
        <div class="col col-lg-2">
            <div class="row">
                <img class="img-ranking" src="{% static 'ranking/imgs/img_lancamento_de_dardo.png' %}" alt="">
            </div>
            <div class="row">
                <a href="Lancamento de Dardo">Lancamento de Dardo</a>
            </div>
        </div>
    </div>
    <div class="col-9 search"></div>
</div>