{% extends 'base.html' %}

{% block title %}Jogos Olímpicos - Comitê Olímpico Brasileiro{% endblock title %}
{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Ranking</h1>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <div class="row">
                    {% comment %} <img class="img-ranking" src="{% static 'img/img_100m_rasos.png' %}" alt=""> {% endcomment %}
                </div>
                <div class="row">
                    <a href="100m rasos">100m rasos</a>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="row">
                    {% comment %} <img class="img-ranking" src="{% static 'img/img_lancamento_de_dardo.png' %}" alt=""> {% endcomment %}
                </div>
                <div class="row">
                    <a href="Lancamento de Dardo">Lancamento de Dardo</a>
                </div>
            </div>
        </div>
        <div class="col-9 search"></div>
    </div>

{% endblock content %}