<header>
    <center><h3>CRIAR COMPETIÇÃO</h3></center>
    <p>Criar uma competição [nome, local e data/hora da disputa], já informando os atletas participantes [nome, idade, altura e peso]</p>
    <div class="container">
        <div class="row">
            <div class="col-12 status-competition-on">Cadastro aberto para 100m rasos.</div>
        </div>
        <div class="row">
            <div class="col-12 status-competition-off">Cadastro finalizado para Lançamento de Dardo.</div>
        </div>
    </div>
</header>
<br>